:root {
    --primary-color: #3993DD;
    /* bright blue */
    --secondary-color: #90F3FF;
    /* light aqua */
    --accent1-color: #ADFC92;
    /* soft green */
    --accent2-color: #FAC05E;
    /* warm orange */
    --heading-font: "Roboto", sans-serif;
    --body-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #fff;
    line-height: 1.6;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    margin: 0 8px;
    display: inline-block;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 40px;
    color: chocolate;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(151, 147, 147, 0.4);
    z-index: 1;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(249, 233, 214, 0.5);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}