* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    color: #333;
}

aside img {
    width: 20em;
    height: auto;
}

aside.box h2 {
    margin: 0.5rem 0;
    text-align: center;
    color: #333;
    position: static;
}

aside.box img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0/10%);
    box-shadow: 0 0 30px #333;
}

nav {
    background-color: #abe;
    padding: 5px;
}

nav a {
    color: #eee;
    display: block;
    text-decoration: none;
}

h1 {
    color: cadetblue;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}